@import "tailwindcss";
@plugin "daisyui" {
    themes: huskylight --default,
            huskydark --prefersdark;
    root: ":root";
    include: "";
    exclude: "";
    prefix: "";
    logs: true;
}
@plugin "daisyui/theme" {
    name: "huskylight";
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(16% 0.02 240);
    --color-primary: oklch(50% 0.08 240);
    --color-primary-content: oklch(95% 0.02 250);
    --color-secondary: oklch(67% 0.17 230);
    --color-secondary-content: oklch(20% 0.03 230);
    --color-accent: oklch(45% 0.09 40);
    --color-accent-content: oklch(98% 0.01 40);
    --color-neutral: oklch(30% 0.01 240);
    --color-neutral-content: oklch(95% 0.01 240);
    --color-info: oklch(65% 0.15 220);
    --color-info-content: oklch(16% 0.03 220);
    --color-success: oklch(58% 0.13 155);
    --color-success-content: oklch(16% 0.02 155);
    --color-warning: oklch(82% 0.17 85);
    --color-warning-content: oklch(16% 0.02 85);
    --color-error: oklch(62% 0.18 15);
    --color-error-content: oklch(16% 0.03 15);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.35rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
@plugin "daisyui/theme" {
    name: "huskydark";
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(25.3% 0.01 240);
    --color-base-200: oklch(23.2% 0.01 240);
    --color-base-300: oklch(21.1% 0.01 240);
    --color-base-content: oklch(95% 0.01 240);
    --color-primary: oklch(60% 0.12 240);
    --color-primary-content: oklch(16% 0.02 240);
    --color-secondary: oklch(72% 0.15 230);
    --color-secondary-content: oklch(16% 0.02 230);
    --color-accent: oklch(62% 0.12 40);
    --color-accent-content: oklch(16% 0.01 40);
    --color-neutral: oklch(80% 0.01 240);
    --color-neutral-content: oklch(20% 0.01 240);
    --color-info: oklch(70% 0.14 220);
    --color-info-content: oklch(16% 0.02 220);
    --color-success: oklch(65% 0.13 155);
    --color-success-content: oklch(16% 0.02 155);
    --color-warning: oklch(75% 0.15 85);
    --color-warning-content: oklch(16% 0.02 85);
    --color-error: oklch(68% 0.17 15);
    --color-error-content: oklch(16% 0.02 15);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.35rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}