@import 'tailwindcss';
@import 'flowbite/src/themes/default.css';

@plugin 'flowbite/plugin';
@source '../node_modules/flowbite';


@theme {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(16% 0.02 240);
  --color-primary-100: oklch(50% 0.08 240);
  --color-primary-200: oklch(45% 0.07 240);
  --color-primary-300: oklch(40% 0.06 240);
  --color-primary-content: oklch(95% 0.02 250);
  --color-secondary: oklch(67% 0.17 230);
  --color-secondary-content: oklch(20% 0.03 230);
  --color-accent: oklch(45% 0.09 40);
  --color-accent-content: oklch(98% 0.01 40);
  --color-neutral: oklch(30% 0.01 240);
  --color-neutral-content: oklch(95% 0.01 240);
  --color-info: oklch(65% 0.15 220);
  --color-info-content: oklch(16% 0.03 220);
  --color-success: oklch(58% 0.13 155);
  --color-success-content: oklch(16% 0.02 155);
  --color-warning: oklch(82% 0.17 85);
  --color-warning-content: oklch(16% 0.02 85);
  --color-error: oklch(62% 0.18 15);
  --color-error-content: oklch(16% 0.03 15);

  --color-dark-base-50: oklch(90% 0.005 240);
  --color-dark-base-100: oklch(75% 0.01 240);
  --color-dark-base-200: oklch(55% 0.01 240);
  --color-dark-base-300: oklch(40% 0.01 240);
  --color-dark-base-400: oklch(32% 0.01 240);
  --color-dark-base-500: oklch(25.3% 0.01 240);
  --color-dark-base-600: oklch(23.2% 0.01 240);
  --color-dark-base-700: oklch(21.1% 0.01 240);
  --color-dark-base-800: oklch(19% 0.01 240);
  --color-dark-base-900: oklch(17% 0.01 240);
  --color-dark-base-950: oklch(15% 0.01 240);
  --color-dark-base-content: oklch(95% 0.01 240);
  --color-dark-primary-100: oklch(60% 0.12 240);
  --color-dark-primary-200: oklch(55% 0.11 240);
  --color-dark-primary-300: oklch(50% 0.10 240);
  --color-dark-primary-content: oklch(16% 0.02 240);
  --color-dark-secondary: oklch(72% 0.15 230);
  --color-dark-secondary-content: oklch(16% 0.02 230);
  --color-dark-accent: oklch(62% 0.12 40);
  --color-dark-accent-content: oklch(16% 0.01 40);
  --color-dark-neutral: oklch(80% 0.01 240);
  --color-dark-neutral-content: oklch(20% 0.01 240);
  --color-dark-info: oklch(70% 0.14 220);
  --color-dark-info-content: oklch(16% 0.02 220);
  --color-dark-success: oklch(65% 0.13 155);
  --color-dark-success-content: oklch(16% 0.02 155);
  --color-dark-warning: oklch(75% 0.15 85);
  --color-dark-warning-content: oklch(16% 0.02 85);
  --color-dark-error: oklch(68% 0.17 15);
  --color-dark-error-content: oklch(16% 0.02 15);
}